



  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Outfit;
}
body{
    background-color: #d6e2f0;
}
.card{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px ;
    display: flex;
    gap: 20px;
    height: 460px;
    width: 300px;
    align-items: center;
    flex-direction: column;
    background-color:#ffffff;
    border-radius: 5px;    
}

.card img{
    height: 280px;
    border-radius: 5px;
}

.card h3 {
    font-family: 'Outfit';
    font-size: 20px;
    padding: 0 15px;
    font-weight:700;
    font-style:normal;
    text-align: center;

}

.card p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #d6e2f0;
    font-weight:400;
    text-align: center;
    padding: 0 15px;


}

@media screen and (min-width:375px ) {
    body{
        background-color: #d6e2f0;
    }
}


@media screen and (min-width:1440px ) {
    body{
        background-color: #d6e2f0;
    }
}